<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let product of products">
    <img src="assets/imgs/{{ product.picturePath }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ product.name }}
      </ion-card-title>
      <ion-item>
        {{ product.price }}.- CHF
        <ion-badge>{{ product.unit }}</ion-badge>
      </ion-item>
      <ion-list inset>
        <button ion-item *ngFor="let supplier of product.suppliers">
          {{ supplier.firstName }}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
